html,
body {
  background: #000 url('image/starfield.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
header{
  margin-top: 50px;
}
header img {
  max-width: 700px;
}