html {
	background: #000 url("image/starfield.jpg") no-repeat center center/cover;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}
body {
	margin:auto;
	max-width: 1200px;	
}